<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
  class="card">
  <div class="card-content">
    <span class="card-title">Войти в систему</span>
    <div class="input-field">
      <input
        formControlName="email"
        autocomplete="off"
        id="email"
        type="email"
        name="email"
        [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}"
      >
      <label for="email">Email:</label>
      <span
        *ngIf="form.get('email').invalid && form.get('email').touched"
        class="helper-text red-text">
        <span *ngIf="form.get('email').errors['required']">Обязательное поле</span>
        <span *ngIf="form.get('email').errors['email']">Укажите валидный email</span>
      </span>
    </div>
    <div class="input-field">
      <input
        formControlName="password"
        autocomplete="off"
        id="password"
        type="password"
        name="password"
        [ngClass]="{'invalid': form.get('password').invalid && form.get('email').touched}"
      >
      <label for="password">Пароль:</label>
      <span
        *ngIf="form.get('password').invalid && form.get('email').touched"
        class="helper-text red-text">
        <span *ngIf="form.get('password').errors['required']">Обязательное поле</span>
        <span *ngIf="form.get('password').errors['minlength']
        && form.get('password').errors['minlength']['requiredLength']"
        >
          Пароль должен быть больше {{form.get('password').errors['minlength']['requiredLength']}} символов.
          Сейчас введено {{form.get('password').errors['minlength']['actualLength']}}
        </span>
      </span>
    </div>
  </div>
  <div class="card-action">
    <button
      [disabled]="form.invalid || form.disable"
      type="submit"
      class="modal-action btn waves-effect"
    >Войти
    </button>
  </div>
</form>
